
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608137626934838020.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608137626934838020.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608137626934838020.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608137626934838020.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608137626934838020.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608137626934838020.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608137626934838020.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608137626934838020.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608137626934838020.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608137626934838020.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608137626934838020.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608137626934838020.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608137626934838020.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608137626934838020.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608137626934838020.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608137626934838020.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608137626934838020.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608137626934838020.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608137626934838020.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608137626934838020.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608137626934838020.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608137626934838020.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-608137626934838020.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608137626934838020.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608137626934838020.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-608137626934838020.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608137626934838020.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608137626934838020.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608137626934838020.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-608137626934838020.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-608137626934838020.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608137626934838020.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608137626934838020.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608137626934838020.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608137626934838020.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608137626934838020.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608137626934838020.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608137626934838020.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608137626934838020.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608137626934838020.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608137626934838020.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608137626934838020.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608137626934838020.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608137626934838020.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608137626934838020.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-608137626934838020.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608137626934838020.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608137626934838020.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608137626934838020.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608137626934838020.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608137626934838020.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-608137626934838020.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-608137626934838020.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608137626934838020.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608137626934838020.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608137626934838020.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608137626934838020.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608137626934838020.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-608137626934838020.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608137626934838020.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608137626934838020.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608137626934838020.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608137626934838020.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-608137626934838020.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-608137626934838020.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608137626934838020.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608137626934838020.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608137626934838020.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608137626934838020.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608137626934838020.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-608137626934838020.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608137626934838020.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608137626934838020.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608137626934838020 .gp-relative{position:relative}.gps-608137626934838020 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608137626934838020 .gp-mb-0{margin-bottom:0}.gps-608137626934838020 .gp-flex{display:flex}.gps-608137626934838020 .gp-grid{display:grid}.gps-608137626934838020 .\!gp-hidden{display:none!important}.gps-608137626934838020 .gp-hidden{display:none}.gps-608137626934838020 .gp-max-w-full{max-width:100%}.gps-608137626934838020 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608137626934838020 .gp-flex-col{flex-direction:column}.gps-608137626934838020 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608137626934838020 .gp-duration-200{transition-duration:.2s}.gps-608137626934838020 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608137626934838020 .tablet\:\!gp-hidden{display:none!important}.gps-608137626934838020 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608137626934838020 .mobile\:\!gp-hidden{display:none!important}.gps-608137626934838020 .mobile\:gp-hidden{display:none}}.gps-608137626934838020 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v17/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxhTg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7iEMM3RRe"}' data-id="g7iEMM3RRe" id="g7iEMM3RRe" data-same-height-subgrid-container class="g7iEMM3RRe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:10px;--pb:10px;--pt-mobile:0px;--pb-mobile:20px;--pt-tablet:10px;--pb-tablet:10px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdNOsVzTGY gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gogZAksD9h"}' data-id="gogZAksD9h" id="gogZAksD9h" data-same-height-subgrid-container class="gogZAksD9h gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:0px;--cg:54px;--rg:0px;--gtc:minmax(0, 12fr);--w:900px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggsrvQQa9U gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gIkcbQu3yz"}' data-id="gIkcbQu3yz" id="gIkcbQu3yz" data-same-height-subgrid-container class="gIkcbQu3yz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfsZBGaCI2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gllzN-5hoX"
        class="gllzN-5hoX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:32px;--pb-mobile:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggllzN-5hoX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g2KDdJzp7x gp-custom-code">
      <div>
    <div class="bl-info-block">
    <p class="bl-info-title">Here's what most high-performers miss:
 <em style="color:#D97560">blood flow is the foundation everything else builds on. </em></p>
    <p class="bl-info-text">All your optimization efforts depend on one thing—efficient delivery of oxygen and nutrients to tissues. When that foundation is compromised, nothing else works optimally.
</p>
</div>

<style>
.bl-info-block {
    padding: 8px 8px !important;
    border: none !important;
    text-align: center !important;
}

.bl-info-title {
    font-size: 22px !important;
    font-weight: 700 !important;
    color: #1a1a1a !important;
    margin: 0 0 8px 0 !important;
    letter-spacing: 0px !important;
    line-height:30px !important;
}

.bl-info-subtitle {
    font-size: 16px !important;
    font-weight: 400 !important;
    font-style: italic !important;
    color: #D97560 !important;
    margin: 0 0 16px 0 !important;
}

.bl-info-text {
    font-size: 16px !important;
    line-height: 1.6 !important;
    color: #555 !important;
    margin: 0 !important;
    font-weight: 400 !important;
    max-width: 600px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (max-width: 480px) {
    .bl-info-block {
        padding: 8px 8px !important;
    }

    .bl-info-title {
        font-size: 22px !important;
        margin-bottom: 6px !important;
    }

    .bl-info-subtitle {
        font-size: 16px !important;
        margin-bottom: 12px !important;
    }

    .bl-info-text {
        font-size: 16px !important;
    }
}

@media (min-width: 768px) {
    .bl-info-title {
        font-size: 22px !important;
    }

    .bl-info-subtitle {
        font-size: 16px !important;
    }

    .bl-info-text {
        font-size: 16px !important;
    }
}
</style>
    </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gqmyFYjApV gp-custom-code">
      <div>
    <style>
  .section-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
  }

  .divider-line {
    flex: 1;
    height: 1px;
    background: linear-gradient(to right, transparent, #D97560, transparent);
  }

  .divider-icon {
    margin: 0 1.5rem;
    color: #D97560;
    font-size: 1.5rem;
  }

  .divider-simple {
    height: 2px;
    background: linear-gradient(to right, transparent, rgba(217, 117, 96, 0.3), transparent);
    margin: 2rem 0;
  }

  .divider-dots {
    text-align: center;
    color: #D97560;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin: 2rem 0;
  }

  .divider-accent {
    height: 3px;
    background: linear-gradient(to right, transparent, #D97560, transparent);
    margin: 3rem 0;
    border-radius: 2px;
  }

  @media (max-width: 768px) {
    .section-divider {
      margin: 2rem 0;
    }

    .divider-icon {
      margin: 0 1rem;
      font-size: 1.25rem;
    }

    .divider-simple {
      margin: 1.5rem 0;
    }

    .divider-accent {
      margin: 2rem 0;
    }
  }
</style>
<!-- Divider with Chevron -->
<div class="section-divider">
  <div class="divider-line"></div>
  <div class="divider-icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </div>
  <div class="divider-line"></div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-608137626934838020 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/berkeleylife/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608137626867729156&sectionId=608137626934838020)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggllzN-5hoX_text","label":"ggllzN-5hoX_text","default":"<p><span style=\"font-size:16px;\">If you've optimized your diet, training, sleep, and supplement stack but you're still noticing decline in recovery, sexual function, and that overall edge you used to have—you're not imagining it.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">You've systematically improved every input, yet outputs are declining in certain areas.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">That's not a failure of discipline or knowledge. That's a sign you're missing the foundation.</span></p><p>&nbsp;</p><p><span style=\"background-color:rgba(248, 255, 188, 0.77);font-size:16px;\"><strong>You're used to being able to fix things through data and optimization.&nbsp;</strong></span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Test, adjust, improve. But this one area hasn't responded to your usual strategies.</span></p><p>&nbsp;</p><p><span style=\"font-size:16px;\">Recovery takes longer despite optimal nutrition. Workouts feel harder despite consistent programming. Sexual function isn't what it was at 35, despite normal testosterone.&nbsp;</span></p><p>&nbsp;</p><p><span style=\"font-size:18px;\">The frustration isn't just the decline—it's that your proven optimization framework isn't working here.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}