
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607265842660377143.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607265842660377143.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607265842660377143.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607265842660377143.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607265842660377143.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607265842660377143.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607265842660377143.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607265842660377143.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607265842660377143.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607265842660377143.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607265842660377143.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-607265842660377143.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-607265842660377143.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-607265842660377143.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607265842660377143.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607265842660377143.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607265842660377143.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607265842660377143.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607265842660377143.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607265842660377143.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-607265842660377143.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-607265842660377143.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-607265842660377143.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-607265842660377143.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-607265842660377143.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-607265842660377143 .gp-relative{position:relative}.gps-607265842660377143 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607265842660377143 .gp-mb-0{margin-bottom:0}.gps-607265842660377143 .gp-flex{display:flex}.gps-607265842660377143 .gp-grid{display:grid}.gps-607265842660377143 .\!gp-hidden{display:none!important}.gps-607265842660377143 .gp-hidden{display:none}.gps-607265842660377143 .gp-max-w-full{max-width:100%}.gps-607265842660377143 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607265842660377143 .gp-flex-col{flex-direction:column}.gps-607265842660377143 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607265842660377143 .gp-duration-200{transition-duration:.2s}.gps-607265842660377143 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607265842660377143 .tablet\:\!gp-hidden{display:none!important}.gps-607265842660377143 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607265842660377143 .mobile\:\!gp-hidden{display:none!important}.gps-607265842660377143 .mobile\:gp-hidden{display:none}}.gps-607265842660377143 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgb(254, 254, 254)"}},"uid":"i2lc27bcf3d61"}' data-id="i2lc27bcf3d61" id="i2lc27bcf3d61" data-same-height-subgrid-container class="i2lc27bcf3d61 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-i2ld30a87ff6d gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-607265842660377143 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/berkeleylife/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607148986834355122&sectionId=607265842660377143)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}