<div class="px-8 py-12 mx-auto space-y-8 text-center max-w-prose md:px-12">
  <h1 class="mt-8 h1">
    {{ 'templates.404.title' | t }}
  </h1>
  <div class="text-2xl">
    {{ 'templates.404.subtext' | t }}
  </div>
  <a href="/" class="button button--tertiary !uppercase !text-lg">
    Back to home
  </a>
</div>
