<!-- Layout options -->
<layout-options>
  <ul class="md:flex justify-end hidden max-w-screen-xl pr-8 mx-auto mb-4 text-2xl text-gray-200 list-none" role="group" aria-label="Layout View Options">
    <li class="inline-block">
      <button aria-label="Large Layout" id="largeButton" type="button" aria-pressed="false">
        {% render 'icon-square' %}
      </button>
    </li>
    <li class=" inline-block">
      <button aria-label="Grid Layout" id="gridButton" type="button" aria-pressed="false">
        {% render 'icon-grid' %}
      </button>
    </li>
  </ul>
</layout-options>