{% assign target_product = all_products[short_code_value] %}
{%- if target_product.available == true -%}
  <div class="not-prose top-5 md:sticky z-10 col-span-1 col-start-1">
    <h3 class="h5 text-slate-500 mb-4 text-center">Featured Product</h3>
    {% render 'product-card', product_card_product: target_product, quick_shop: true %}
  </div>
{%- endif -%}