<style>
 .truemed-entry-text-container .truemed-entry-text:last-of-type {
   display: none;
 }
</style>
<div id="truemed-instructions" style="font-size: 14px;" icon-height="12" data-public-id="tm_qual_uukjiubbjl"></div>
<script src="https://static.truemed.com/widgets/product-page-widget.min.js" defer></script>